.text-center{
    text-align: center;
    color: white;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.bg-yellow{
    background-color: rgb(255, 171, 14);
    color: black;
}
.bg-grey{
    background-color: #ccc;
}

.bg-dark{
    color: white;
    background-color: rgba(128, 128, 128, 0.473);
}